/* All body elements */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

/* Navigation Bar */

nav {
    background-color: #808080;
    overflow: hidden;
    opacity: .6;
}

nav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

.user-message {
    display: flex;
    justify-content: flex-end;
}

/* Main Page Divider & Sections */

.container {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.left, .right {
    flex: 1;
}

.section {
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h1 {
    margin-bottom: 40px;
}

/* Table Elements */

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: none;
    padding: 10px;
}

.invalid-item {
    color: red;
    background-color: #ffcccc !important;
}

.cart-header {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.item-image {
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.item-description {
    text-align: left;
}

.item-quantity {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.quantity-buttons {
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.item-price {
    text-align: right;
}

/* Summary Elements */

.total-summary {
    margin-top: 2rem;
    max-width: 600px;
    width: 100%;
}
  
.sum-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 45%;
    padding: 0.25rem 0;
    gap: 10%;
}
  
.cost-label, .cost-sum {
    margin: 0;
    font-size: 1rem;
}
  
.cost-label {
    font-weight: bold;
}
  
.cost-sum {
    margin-left: auto;
    text-align: right;
}

/* Buttons */

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.quantity-button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

.quantity_button:hover {
    background-color: #0056b3;
}