table {
   text-align:center;
   border: 1px solid black;
}

.center {
   margin-left: auto;
   margin-right: auto;
}

.navbar {
   overflow: hidden;
}

.navbar a {
   float: left;
   display: block;
   text-align: center;
   padding: 14px 16px;
}

#table-scroll {
   overflow:auto;
   height:500px;
   margin-top:20px;
}
